<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
	<bean id="human" class="spring.test1.Human">
		<property name="dog">
			<bean id="dog" class="spring.test1.Dog"> </bean>
		</property>
		<property name="cat">
			<bean id="cat" class="spring.test1.Cat"> </bean>
		</property>
		<property name="parrot1">
			<bean id="parrot" class="spring.test1.Parrot"> </bean>
		</property>
		<property name="parrot2">
			<bean id="parrot" class="spring.test1.Parrot"> </bean>
		</property>
	</bean>
</beans>